@font-face {
    font-family: "LXGWWenkai";
    src:local("LXGWWenkai"),url('/public/fonts/LXGWWenkai.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range:U+d65f-d7a3,U+e76c,U+e7c7-e7c8,U+e7e7-e7f3,U+e815-e847;
    }
  