:root {
    --tk-text: black;
  }
  
  html.dark {
    --tk-text: #d1d5db;
  }
  
  .tk-comments {
    @apply text-[var(--tk-text)];
  }
  
  .tk-submit {
    .tk-avatar {
      @apply hidden;
    }
  }
  
  /* Text Area */
  .tk-row {
    .tk-col {
      @apply flex-col-reverse;
      .tk-input {
        textarea {
          @apply rounded-[var(--radius-large)] py-4 px-6 !min-h-[150px] focus:border-[var(--primary)];
        }
      }
    }
  }
  
  .el-input {
    @apply !rounded-lg;
  }
  
  .tk-meta-input {
    @apply min-h-10 relative mt-3;
    .el-input-group__prepend {
      @apply !bg-inherit;
    }
    div {
      @apply py-1 rounded-l-lg;
      min-height: inherit;
    }
    input {
      @apply px-4 rounded-r-lg focus:!border-[var(--primary)];
      min-height: inherit;
    }
  }
  
  /* Button */
  .tk-row.actions {
    @apply w-full !ml-0 !mt-0;
    .__markdown {
      @apply !hidden;
    }
    .tk-preview,
    .tk-send,
    .tk-cancel {
      @apply border-none rounded-lg px-3 py-0 h-8
       !bg-[var(--btn-regular-bg-active)] disabled:!bg-[var(--btn-regular-bg)]
      !text-[var(--btn-content)] disabled:!text-[#ffffffa1];
    }
  }
  
  /* Comment title */
  .tk-comments-title {
    .__comments svg {
      @apply fill-[var(--primary)];
    }
  }
  
  .tk-comment {
    @apply border-[1px] border-[rgba(144,147,153,0.31)] p-4 rounded-2xl hover:shadow-md transition-all;
    .tk-action-icon svg {
      @apply fill-[var(--primary)];
    }
  }
  
  .tk-action {
    .tk-action-count {
      @apply text-[var(--btn-content)];
    }
  }
  
  .tk-meta {
    .tk-tag {
      @apply border-none rounded-lg text-[var(--btn-content)];
    }
  
    .tk-tag-green {
      @apply bg-[var(--btn-regular-bg)] dark:bg-[var(--primary)] dark:text-[var(--deep-text)];
    }
  }
  
  .tk-content {
    a {
      @apply link link-underline text-[var(--primary)] font-medium;
    }
  
    .tk-ruser {
      @apply no-underline;
    }
  }
  
  /* Replies */
  .tk-replies {
    .tk-comment {
      @apply bg-[var(--page-bg)];
      .tk-content {
        > span:first-of-type {
          @apply text-xs;
        }
      }
    }
  }
  
  .twikoo .code-block {
    pre {
      @apply !rounded-xl;
    }
  
    .copy-btn-icon {
      width: inherit !important;
      height: inherit !important;
    }
  }
  
  .tk-expand-wrap .tk-expand,
  .tk-collapse-wrap .tk-expand {
    @apply hover:rounded-lg mt-1 hover:bg-[var(--btn-plain-bg-hover)];
  }
  @font-face {
    font-family: "LXGWWenkai";
    src:local("LXGWWenkai"),url('/public/fonts/LXGWWenkai.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range:U+d65f-d7a3,U+e76c,U+e7c7-e7c8,U+e7e7-e7f3,U+e815-e847;
    }
  